/*----------------------------------------------------------------------------*/
@import "compass/css3";

/*----------------------------------------------------------------------------*/
@import "fonts";
@import "base";
@import "helpers";
@import "forms";
@import "print";

/*----------------------------------------------------------------------------*/
@import "vendor/bootstrap.min.css";
@import "vendor/messenger.css";
@import "vendor/messenger-theme-flat.css";

/*----------------------------------------------------------------------------*/
/* CUSTOM STYLES */
/*----------------------------------------------------------------------------*/
html,body {
    font-family:$normalFont;
    height:100%;
}

.font {
    font-size:10px;
}

header {
    position:fixed;
    background-color:#ffffff;
    padding-bottom:15px;
    width:100%;
    @include box-shadow(#333333 2px 0px 10px);
    z-index:998;
}

h1, h2, h3, th {
    text-transform: capitalize;
}

.report {
    padding-top:200px;
    
}

input.custom-json-file {
    display:none;
}

@media print {
    
    table {
        page-break-after:always;
    }
    
    header {
        display:none;
    }
    
    .report {
        padding-top:10px;
    }
    
}